body {
    font-family: Bree Serif, "Roboto";
}

.bg-container {
    background-image: url(" https://d2clawv67efefq.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 600px;
    width: 400px;
    background-size: cover;
}

.card-container {
    background-color: #ffffff;
    text-align: start;
    padding: 18px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-main-heading {
    color: #5752ab;
    font-size: 25px;
}

p {
    color: #323f4b;
    font-size: 14px;
}

.learn-button {
    background-color: #ffffff;
    color: #171f46;
    font-size: 12px;
    height: 35px;
    width: 110px;
    border-width: 1px;
    border-color: #d7dfe9;
    border-radius: 8px;
    margin-right: 10px;
}

.save-button {
    background-color: #5752ab;
    color: #ffffff;
    font-size: 12px;
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 8px;
    margin-left: 1px;
}