.bg-container {
    background-color: #0b0b0b;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

.lightimage {
    height: 150px;
    margin-bottom: 25px;
    margin-left: 40px;
}

.catimage {
    height: 300px;
    margin-bottom: 25px;
}

.card-container {
    background-color: #7b8794;
    height: 139px;
    width: 294px;
    border-radius: 10px;
}

.card-heading {
    font-family: "roboto";
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 24px;
}

.off-btn {
    font-family: "roboto";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    border-radius: 8px;
    width: 59px;
    height: 34px;
    background-color: #e12d39;
}

.on-btn {
    font-family: "roboto";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    border-radius: 8px;
    width: 59px;
    height: 34px;
    background-color: #cbd2d9;
}


