.bg-container {
   background-color: white;
}

.serivece-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.services-description {
    color: #616c7c;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.image {
    height: 16vh;
}

.card-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 400;
}

.card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 17px;
}