.main-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 42px;
    font-weight: bold;
}

.card {
    background-color: #ffffff;
    padding: 15px;
}

.sub-heading {
    color: #959ead;
    font-family: "Roboto";
    font-size: 17px;
}

.heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
}

.description {
    color: #959ead;
    font-family: "Roboto";
    font-size: 25px;
}

.link {
    color: #ff9d00;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 600;
}