.bg-container {
    background-color: #894bca;
    height: 600px;
    width: 400px;
    background-size: cover;
}

.main-heading {
    font-family: "breesarif";
    color: #ffffff;
    font-size: 32px;
    padding: 25px;
    font-weight: 500;
}

.image-1 {
    height: 33vh;
    width: 50vw;
}

.bottom-card {
    background-color: #ffffff;
    height: 100vh;
    Background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.heading {
    font-size: 20px;
    color: #f780c3;
    padding: 22px;
}

.image-2 {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.heading-1 {
    font-size: 22px;
    font-weight: bold;
}

.paragraph {
    color: #7b8794;
    font-size: 13px;
    font-weight: 500;
}