.tools-section-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.tools-section-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: bold;
}

