.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
    height: 100vh;
    background-size: cover;
    padding: 25px;
    text-align: center;
}

.yoga-homepage-heading {
    color: #132d84;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.yoga-girl-image {
    height: 190px;
    width: 180px;
    margin-top: 180px;
}

p {
    font-size: 13px;
    font-family: "Roboto";
}

.home-page-button {
    background-color: #132d84;
    color: #fad693;
    height: 25px;
    width: 70px;
    font-family: "Roboto";
    font-size: 10px;
    border: none;
    border-radius: 5px;
}

.yogapage-bg-container {
    background-color: #ffedcb;
    height: 150vh;
    background-size: cover;
    padding: 25px;
    text-align: center;
}

.yoga-page-girl-image {
    height: 190px;
    width: 180px;
    margin-bottom: 15px;
}

.types-of-yoga-heading {
    color: #132d84;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
     margin-bottom: 25px;
}

.yoga-type-container {
    background-color: #ffe2ab;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.image {
    height: 13vh;
}

.yoga-heading {
    color: #253263;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: bold;
}

.yoga-description {
    text-align: start;
    margin-left: 15px;
    color: #323f4b;
    font-size: 8px;
    font-family: "Roboto";
}

.yoga-text-description {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 10px;
}